.headerTitle {
  font-weight: bold;
  font-size: 1.875rem;
  color: #383838;
  margin-bottom: 3vh;
}

.label {
  font-weight: bold;
  font-size: 1rem;
  color: #383838;
}

.input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin: 1.2vh 0 3vh 0;
  display: inline-block;
  background: #ffffff;
  border: 1px solid rgba(83, 107, 121, 0.2);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.25),
    -5px -5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  box-sizing: border-box;
}

.input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(56, 56, 56, 0.4);
}

.input[type="text"]:focus {
  border: 1px solid #5fb762;
}

@media (max-width: 945px) {
  .headerDescription {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .headerDescription {
    font-size: 13px;
  }
}

@media (max-width: 330px) {
  .headerDescription {
    font-size: 10px;
  }
}

.snackbar {
  visibility: hidden;
  margin-left: -125px;
  background: linear-gradient(180deg, #3cd250 -9%, #1b912b 109%);
  border-radius: 50px;
  color: #fff;
  text-align: center;
  padding: 2vh 2vw;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1rem;
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
