.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5vw;
}

.headerTitle {
  font-weight: 700;
  font-size: 1rem;
  background: linear-gradient(97.54deg, #2ea83f 38.07%, #2ec743 93.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.headerDescription {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 945px) {
  .headerDescription {
    font-size: 0.6rem;
  }
}

@media (max-width: 720px) {
  .headerDescription {
    font-size: 0.7rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 330px) {
  .headerDescription {
    font-size: 0.6rem;
  }
}
