.headerTitle {
  font-weight: bold;
  font-size: 30px;
  color: #383838;
}

@media (max-width: 945px) {
  .headerTitle {
    font-size: 25px;
  }
}

@media (max-width: 720px) {
  .headerTitle {
    font-size: 15px;
  }
}
